{% block page_footer %}
	<div class="container">	
		<footer>
			<div style="margin-top: 50px; margin-bottom: 20px; height: 20px">
				<span style="float: left; margin-left: 20px">@ 2020 Desenvolvimento de Aplicações para a Web</span>
				<span style="float: right; margin-right: 20px">Designed by <a href=	"mailto:a14038@ualg.pt"> Ricardo Medeiros/14038</a></span>
			</div>
		</footer>
	</div>
	</body>
</html>

{% endblock %}